.details h1 {
  font-family: 'Montserrat';
  text-align: center;
}

.details h2 {
  margin-top: 10vh;
}

.details p {
  font-family: 'Nunito';
  padding-bottom: 35px;
}

.details-container {
 overflow-x: hidden;
 position: static;
}

#article-body {
  text-align: center;
}

#article-body img {
  width: 100%;
  max-height: 350px;
}

#comment-icon {
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  width: auto;
}

.news-thumbnail {
  width: 100%;
  height: 300px;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 750px) {
  #article-body {
    text-align: left;
  }

  #article-body img {
    width: 75%;
    max-height: 300px;
  }

  .details-container {
    position: fixed;
  }
  
  .details {
    overflow-y: overlay;
    height: 70vh;
  }
  
  .details h1, .details h2, .details p {
    margin: 1.5vh 10% 1.5vw !important;
  }

  #comment-icon {
    right: 30vw;
  }
}
